article {
	background: url('https://d2jv9003bew7ag.cloudfront.net/uploads/Martha-Cooper-3.jpg');
	background-size: cover;
}

p {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 20px; 
}

a > img {
	max-height: 130px;
	max-width: 130px;
	margin: 5px;
}

a > img:hover {
	transform: scale(1.5,1.5);
}

table, td {
	border: 2px solid #fff;
	color: lightsalmon;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}